<h1 class="animated fadeIn fast">Sobre Comic App1</h1>

<p class="animated fadeIn">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius nobis provident tenetur atque fuga, iste sint voluptatibus natus fugiat repellendus similique perspiciatis possimus modi doloribus voluptates necessitatibus eum dolore nihil? Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Recusandae1 odio dolor fugiat laboriosam exercitation1em accusantium aperiam laborum natus culpa, quidem unde tempore consequuntur repellendus soluta sequi officia harum est? Sequi?
</p>